#env
.env
.env.*

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#<h2> Some demo accounts for you to use. </h2>
#&bull; Doctor's Email: hassanaliasif2008@gmail.com <br>
#&bull; Doctor's Password: fA9eNLSAw5sd8QW

#&bull; Patient's Email: aliasifeme@gmail.com <br>
#&bull; Patient's Password: bobisthe
